[package]
name = "hoc"
version = "0.11.0"
authors = ["Valentin Brandl <vbrandl@riseup.net>"]
edition = "2018"
build = "build.rs"

[dependencies]
actix-web = "1.0.5"
badge = "0.2.0"
bytes = "0.4.12"
futures = "0.1.28"
git2 = "0.9.1"
lazy_static = "1.3.0"
log = "0.4.7"
log4rs = "0.8.3"
number_prefix = "0.3.0"
openssl-probe = "0.1.2"
reqwest = "0.9.19"
serde = "1.0.98"
serde_derive = "1.0.97"
serde_json = "1.0.40"
structopt = "0.2.18"

[build-dependencies]
ructe = "0.7.0"
vergen = "3.0.4"
