[package]
name = "hoc"
version = "0.16.0"
authors = ["Valentin Brandl <vbrandl@riseup.net>"]
edition = "2018"
build = "build.rs"

[dependencies]
actix-rt = "1.1.1"
actix-web = "3.3.2"
badge = "0.3.0"
bytes = "1.0.0"
config = { version = "0.10.1", features = ["toml"] }
dotenv = "0.15.0"
futures = "0.3.8"
git2 = "0.13.14"
lazy_static = "1.4.0"
number_prefix = "0.4.0"
openssl-probe = "0.1.2"
reqwest = "0.10.10"
serde = "1.0.118"
serde_derive = "1.0.103"
serde_json = "1.0.61"
tracing = "0.1.22"
tracing-actix-web = "0.2.1"
tracing-futures = "0.2.4"
tracing-subscriber = "0.2.15"

[build-dependencies]
ructe = "0.13.0"
vergen = "3.2.0"

[dev-dependencies]
tempfile = "3.1.0"
