[package]
name = "hoc"
version = "0.34.0"
authors = ["Valentin Brandl <vbrandl@riseup.net>"]
edition = "2021"
build = "src/build.rs"

[lib]
path = "src/lib.rs"

[[bin]]
path = "src/main.rs"
name = "hoc"

[dependencies]
actix-rt = "2.8.0"
actix-web = "4.3.1"
badgers = "1.2.0"
bytes = "1.4.0"
config = { version = "0.13.3", features = ["toml"] }
dotenvy = "0.15.7"
futures = "0.3.27"
git2 = "0.16.1"
lazy_static = "1.4.0"
mime = "0.3"
number_prefix = "0.4.0"
openssl-probe = "0.1.5"
reqwest = "0.11.16"
serde = "1.0.158"
serde_derive = "1.0.137"
serde_json = "1.0.94"
tracing = "0.1.37"
tracing-actix-web = "0.7.3"
tracing-bunyan-formatter = "0.3.6"
tracing-futures = "0.2.5"
tracing-log = "0.1.3"
tracing-subscriber = { version = "0.3.16", features = ["registry", "env-filter"] }

[build-dependencies]
anyhow = "1.0.70"
ructe = { version = "0.16.1", features = ["mime03"] }
vergen = { version = "8.1.1", default-features = false, features = ["git", "gitoxide"] }

[dev-dependencies]
awc = "3.1.1"
ructe = "0.16.1"
tempfile = "3.5.0"
tokio = "1.27.0"
