[package]
name = "hoc"
version = "0.38.0"
authors = ["Valentin Brandl <vbrandl@riseup.net>"]
edition = "2021"
build = "src/build.rs"

[lib]
path = "src/lib.rs"

[[bin]]
path = "src/main.rs"
name = "hoc"

[dependencies]
actix-rt = "2.10.0"
actix-web = "4.9.0"
badgers = "1.2.0"
bytes = "1.9.0"
config = { version = "0.15.4", features = ["toml"], default-features = false }
dotenvy = "0.15.7"
futures = "0.3.31"
git2 = "0.20.0"
lazy_static = "1.5.0"
mime = "0.3"
number_prefix = "0.4.0"
openssl-probe = "0.1.5"
reqwest = "0.12.12"
serde = "1.0.217"
serde_derive = "1.0.215"
serde_json = "1.0.135"
tracing = "0.1.41"
tracing-actix-web = "0.7.15"
tracing-bunyan-formatter = "0.3.10"
tracing-futures = "0.2.5"
tracing-log = "0.2.0"
tracing-subscriber = { version = "0.3.19", features = [
  "registry",
  "env-filter",
] }

[build-dependencies]
anyhow = "1.0.95"
ructe = { version = "0.17.2", features = ["mime03"] }
vergen-gix = "1.0.4"

[dev-dependencies]
awc = "3.5.1"
ructe = "0.17.2"
tempfile = "3.15.0"
tokio = "1.43.0"
