[package]
name = "hoc"
version = "0.11.8"
authors = ["Valentin Brandl <vbrandl@riseup.net>"]
edition = "2018"
build = "build.rs"

[dependencies]
actix-web = "2.0.0"
badge = "0.2.0"
bytes = "0.5.4"
futures = "0.3.1"
git2 = "0.13.1"
lazy_static = "1.4.0"
log = "0.4.8"
log4rs = "0.11.0"
number_prefix = "0.3.0"
openssl-probe = "0.1.2"
reqwest = "0.10.4"
serde = "1.0.105"
serde_derive = "1.0.103"
serde_json = "1.0.50"
structopt = "0.3.12"
actix-rt = "1.0.0"

[build-dependencies]
ructe = "0.9.2"
vergen = "3.1.0"
