[package]
name = "hoc"
version = "0.20.2"
authors = ["Valentin Brandl <vbrandl@riseup.net>"]
edition = "2018"
build = "build.rs"

[lib]
path = "src/lib.rs"

[[bin]]
path = "src/main.rs"
name = "hoc"

[dependencies]
actix-rt = "2.4.0"
actix-web = "4.0.0-beta.8"
badge = "0.3.0"
bytes = "1.1.0"
config = { version = "0.11.0", features = ["toml"] }
dotenv = "0.15.0"
futures = "0.3.17"
git2 = "0.13.23"
lazy_static = "1.4.0"
number_prefix = "0.4.0"
openssl-probe = "0.1.4"
reqwest = "0.11.6"
serde = "1.0.130"
serde_derive = "1.0.130"
serde_json = "1.0.68"
tracing = "0.1.29"
tracing-actix-web = "0.4.0-beta.14"
tracing-bunyan-formatter = "0.3.0"
tracing-futures = "0.2.5"
tracing-log = "0.1.2"
tracing-subscriber = { version = "0.3.1", features = ["registry", "env-filter"] }

[build-dependencies]
ructe = "0.13.4"
vergen = { version = "5.1.17", default-features = false, features = ["git"] }

[dev-dependencies]
awc = "3.0.0-beta.9"
ructe = "0.13.4"
tempfile = "3.2.0"
tokio = "1.13.0"
