[package]
name = "hoc"
version = "0.30.0"
authors = ["Valentin Brandl <vbrandl@riseup.net>"]
edition = "2018"
build = "build.rs"

[lib]
path = "src/lib.rs"

[[bin]]
path = "src/main.rs"
name = "hoc"

[dependencies]
actix-rt = "2.8.0"
actix-web = "4.3.0"
badgers = "1.2.0"
bytes = "1.3.0"
config = { version = "0.13.3", features = ["toml"] }
dotenvy = "0.15.6"
futures = "0.3.25"
git2 = "0.16.1"
lazy_static = "1.4.0"
mime = "0.3"
number_prefix = "0.4.0"
openssl-probe = "0.1.5"
reqwest = "0.11.14"
serde = "1.0.152"
serde_derive = "1.0.137"
serde_json = "1.0.91"
tracing = "0.1.37"
tracing-actix-web = "0.7.2"
tracing-bunyan-formatter = "0.3.6"
tracing-futures = "0.2.5"
tracing-log = "0.1.3"
tracing-subscriber = { version = "0.3.16", features = ["registry", "env-filter"] }

[build-dependencies]
ructe = { version = "0.16.1", features = ["mime03"] }
vergen = { version = "7.5.0", default-features = false, features = ["git"] }

[dev-dependencies]
awc = "3.1.0"
ructe = "0.16.1"
tempfile = "3.3.0"
tokio = "1.24.2"
