[package]
name = "hoc"
version = "0.17.0"
authors = ["Valentin Brandl <vbrandl@riseup.net>"]
edition = "2018"
build = "build.rs"

[dependencies]
actix-rt = "1.1.1"
actix-web = "3.3.2"
badge = "0.3.0"
bytes = "1.0.1"
config = { version = "0.10.1", features = ["toml"] }
dotenv = "0.15.0"
futures = "0.3.13"
git2 = "0.13.17"
lazy_static = "1.4.0"
number_prefix = "0.4.0"
openssl-probe = "0.1.2"
reqwest = "0.10.10"
serde = "1.0.123"
serde_derive = "1.0.123"
serde_json = "1.0.63"
tracing = "0.1.25"
tracing-actix-web = "0.2.1"
tracing-futures = "0.2.5"
tracing-subscriber = "0.2.16"

[build-dependencies]
ructe = "0.13.0"
vergen = { version = "4.1.0", default-features = false, features = ["git"] }

[dev-dependencies]
tempfile = "3.2.0"
