[package]
name = "hoc"
version = "0.38.0"
authors = ["Valentin Brandl <vbrandl@riseup.net>"]
edition = "2021"
build = "src/build.rs"

[lib]
path = "src/lib.rs"

[[bin]]
path = "src/main.rs"
name = "hoc"

[dependencies]
actix-rt = "2.10.0"
actix-web = "4.10.2"
badgers = "1.2.0"
bytes = "1.10.1"
config = { version = "0.15.11", features = ["toml"], default-features = false }
dotenvy = "0.15.7"
futures = "0.3.31"
git2 = "0.20.1"
lazy_static = "1.5.0"
mime = "0.3"
number_prefix = "0.4.0"
openssl-probe = "0.1.6"
reqwest = "0.12.15"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
tracing = "0.1.41"
tracing-actix-web = "0.7.16"
tracing-bunyan-formatter = "0.3.10"
tracing-futures = "0.2.5"
tracing-log = "0.2.0"
tracing-subscriber = { version = "0.3.19", features = [
  "registry",
  "env-filter",
] }

[build-dependencies]
anyhow = "1.0.97"
ructe = { version = "0.18.2", features = ["mime03"] }
vergen-gix = "1.0.6"

[dev-dependencies]
awc = "3.6.0"
ructe = "0.18.2"
tempfile = "3.19.1"
tokio = "1.44.1"
