[package]
name = "hoc"
version = "0.7.0"
authors = ["Valentin Brandl <vbrandl@riseup.net>"]
edition = "2018"
build = "build.rs"

[dependencies]
actix-web = "1.0.0-rc"
badge = "0.2.0"
bytes = "0.4.12"
futures = "0.1.27"
git2 = "0.8.0"
lazy_static = "1.3.0"
log = "0.4.6"
log4rs = "0.8.3"
number_prefix = "0.3.0"
openssl-probe = "0.1.2"
reqwest = "0.9.17"
serde = "1.0.91"
serde_derive = "1.0.91"
serde_json = "1.0.39"
structopt = "0.2.16"

[build-dependencies]
ructe = "0.6.2"
vergen = "3.0.4"
