[package]
name = "hoc"
version = "0.11.3"
authors = ["Valentin Brandl <vbrandl@riseup.net>"]
edition = "2018"
build = "build.rs"

[dependencies]
actix-web = "1.0.7"
badge = "0.2.0"
bytes = "0.4.12"
futures = "0.1.29"
git2 = "0.9.1"
lazy_static = "1.4.0"
log = "0.4.8"
log4rs = "0.8.3"
number_prefix = "0.3.0"
openssl-probe = "0.1.2"
reqwest = "0.9.20"
serde = "1.0.100"
serde_derive = "1.0.101"
serde_json = "1.0.41"
structopt = "0.3.3"

[build-dependencies]
ructe = "0.7.2"
vergen = "3.0.4"
