[package]
name = "hoc"
version = "0.22.4"
authors = ["Valentin Brandl <vbrandl@riseup.net>"]
edition = "2018"
build = "build.rs"

[lib]
path = "src/lib.rs"

[[bin]]
path = "src/main.rs"
name = "hoc"

[dependencies]
actix-rt = "2.7.0"
actix-web = "4.1.0"
badge = "0.3.0"
bytes = "1.1.0"
config = { version = "0.13.1", features = ["toml"] }
dotenv = "0.15.0"
futures = "0.3.21"
git2 = "0.14.4"
lazy_static = "1.4.0"
number_prefix = "0.4.0"
openssl-probe = "0.1.5"
reqwest = "0.11.11"
serde = "1.0.137"
serde_derive = "1.0.137"
serde_json = "1.0.81"
tracing = "0.1.35"
tracing-actix-web = "0.5.1"
tracing-bunyan-formatter = "0.3.3"
tracing-futures = "0.2.5"
tracing-log = "0.1.3"
tracing-subscriber = { version = "0.3.14", features = ["registry", "env-filter"] }

[build-dependencies]
ructe = "0.14.0"
vergen = { version = "7.2.1", default-features = false, features = ["git"] }

[dev-dependencies]
awc = "3.0.0"
ructe = "0.14.0"
tempfile = "3.3.0"
tokio = "1.19.2"
