@use super::base;
@use crate::statics::VersionInfo;

@(version_info: VersionInfo, repo_count: usize, base_url: &str, url: &str, service: &str, path: &str, branch: &str)

@:base("Hits-of-Code Badges", "Badge Generator", {

<p>
Here is the markdown for the badge for <a href="https://@url/@path">@url/@path</a>
</p>

<pre>
[![Hits-of-Code](@base_url/@service/@path?branch=@branch)](@base_url/@service/@path/view?branch=@branch)
</pre>

<p>
It will be rendered like this
</p>

<pre>
<a href="@base_url/@service/@path/view?branch=@branch"><img src="@base_url/@service/@path?branch=@branch" alt="example badge" /></a>
</pre>
}, version_info, repo_count)
