@use super::base;
@use crate::statics::VersionInfo;
@use crate::template::RepoInfo;

@(version_info: VersionInfo, repo_count: usize, repo_info: RepoInfo)

@:base("Hits-of-Code Badges", "Overview", {

<p>
The project <a href="@repo_info.url">@repo_info.url</a> has
<strong>@repo_info.hoc_pretty</strong> (exactly @repo_info.hoc) hits of code at
<a href="@repo_info.commit_url">@repo_info.head</a> on the
<code>@repo_info.branch</code> branch. The repository contains
<strong>@repo_info.commits</strong> commits.
</p>

<p>
To include the badge in your readme, use the following markdown:
</p>

<pre>
[![Hits-of-Code](@repo_info.base_url/@repo_info.path?branch=@repo_info.branch)](@repo_info.base_url/view/@repo_info.path?branch=@repo_info.branch)
</pre>


<form method="post" action="/@repo_info.path/delete">
    <button type="submit">Rebuild Cache</button>
</form>
}, version_info, repo_count)
