@use super::base;
@use crate::statics::VersionInfo;

@(version_info: VersionInfo, domain: &str, path: &str, url: &str, hoc: u64, hoc_pretty: &str, head: &str, commit_url: &str)

@:base("Hits-of-Code Badges", "Overview", {

<p>
The project <a href="@url">@url</a> has <strong>@hoc_pretty</strong> (exactly @hoc) hits of code at <a href="@commit_url">@head</a>.
</p>

<p>
To include the badge in your readme, use the following markdown:
</p>

<pre>
[![Hits-of-Code](https://@domain/@path)](https://@domain/view/@path)
</pre>
}, version_info)
