name: Security audit
on:
  schedule:
    - cron: '0 1 * * *'
  push:
    branches:
      - master
  pull_request:
    paths:
      - '**/Cargo.toml'
      - '**/Cargo.lock'
      - ".cargo/audit.toml"

jobs:
  security_audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: rustsec/audit-check@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
